{% extends 'base.html.twig' %}

{% block title %}Show all people{% endblock %}

{% block body %}
<style>
    *{
        font-family: "Times New Roman";
        font-size:15px;
    }
    h1{
        font-size:40px;
        margin-top: 25px;
        text-align: center;

    }
    table{
        width: 100%;

        table-border-color-light: #868686;
    }
    th {
        background-color: orange;
        font-color: white;
        font-size:25px;

    }
    td {
        text-align: center;
        height: 50px;
        font-size:20px;
    }
    .btn{
        width:120px;
        height:50px;
        font-size:18px;
        background-color: #585454;
        color:  white;
    }

    </style>
    <h1>List people</h1>

    <table class="table">
        <thead>
            <tr>
                <th width="5%">Id</th>
                <th width="15%">Name</th>
                <th width="15%">Lastname</th>
                <th width="18%">Email</th>
                <th width="15%">Phone Number</th>
                <th width="5%">Age</th>
                <th width="30%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scrud in scruds %}
            <tr>
                <td  style="background-color:black;color: white " width="5%">{{ scrud.id }}</td>
                <td style="background-color: #f3f1f1 " width="15%">{{ scrud.name }}</td>
                <td width="15%">{{ scrud.lastname }}</td>
                <td style="background-color: #f3f1f1 " width="18%">{{ scrud.email }}</td>
                <td width="15%">{{ scrud.phone }}</td>
                <td style="background-color: #f3f1f1 " width="5%">{{ scrud.age }}</td>
           <td>
                <button class="btn" style="background-color: forestgreen">  <a class="btn" style="background-color: forestgreen" width="12%" href="{{ path('scrud_show', {'id': scrud.id}) }}">Show</a></button>
                    <button class="btn" > <a class="btn" width="12%" href="{{ path('scrud_edit', {'id': scrud.id}) }}">Edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn" style="background-color: orange; margin-top:50px;">  <a class="btn" style="background-color: orange; " width="400px" href="{{ path('scrud_new') }}">Create new record</a></button>
{% endblock %}
